h1 {
	color: rgb(2, 132, 130);
		}
h2 {
	color: #ffd700;
}
nav{
	background-color: #808080;
}
nav a{
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: inline-block;
	float: left;
}
.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }
a:hover{
	background-color: #ee5f3c;
}
body {
	text-align: center;
}
.board {
	height: 80%;
	width: 50%;
	display: inline-block;
	height: 50%;
}
.card  {
	height: 200px;
	width: 150px;
	border: 1px solid black;
	background-color: yellow;
	border-radius: 10px;
}
img.faceUpCard {
	height: 200px;
	width: 150px;
	
}

.name {
	color: #ff0000;
}
div.card {
	float: left;
	margin: 8%;

}
footer{
	background-color: #808080;
}
